<mat-card>
    <mat-card-header>
        <mat-card-title>{{monster.Name}}</mat-card-title>
        <button mat-button [routerLink]="['/monsters', routableMonster(monster)]"><mat-icon>info</mat-icon></button>
        <button mat-button *ngIf="isMonsterList" (click)="addMonsterToEncounterClick()"><mat-icon>add</mat-icon></button>
        <button mat-button *ngIf="!isMonsterList && encounter" (click)="removeMonsterFromEncounter()"><mat-icon>clear</mat-icon></button>
    </mat-card-header>
    <mat-card-content>
        <span class="card-content">AC: {{monster.AC}}</span>
        <span class="card-content">HP: {{monster.HP}}</span>
        <span class="card-content">CR: {{monster.CR}}</span>
        <span *ngIf="numMonsters" class="card-content">Amount: {{numMonsters}}</span>
    </mat-card-content>
</mat-card>
