<mat-card>
    <mat-card-header>
        <mat-card-title>
            Monsters
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <input matInput
            placeholder="Search"
            [formControl]="searchControl">
        </mat-form-field>
    </mat-card-content>
</mat-card>
<mat-grid-list cols="1" rowHeight="2:1" class="scrollable">
    <div *ngFor="let monster of monsters">
        <app-monster-detail-small [isMonsterList]="true" [monster]="monster"></app-monster-detail-small>
    </div>
</mat-grid-list>
